body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(image/nen.jpg);
    background-repeat: no-repeat;
    background-size: 5000px;
}

#info-form, #quiz{
    max-width: 600px;
    margin: 0 auto;
}

#quiz {
    display: none;
}

#info-form {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.1);
}

#info-form h2{
    color: rgb(175, 81, 105);
    text-align: center;
    font-weight: bold;
}

#student-infor-form{
    display: grid;
    gap: 10px;
}

#student-infor-form label{
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#student-infor-form input{
    width: 500px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#student-infor-form button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#quiz {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2, h3 {
    color: #333;
}

.question-group {
    margin-top: 15px;
}

.question {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.question p {
    color: black;
}

.options {
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.options label {
    display: block;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.options input {
    margin-right: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.question-group {
    display: none;
}

#group1 {
    display: block;
}